<div class="mainApp">
  <div class="card bg-success text-center text-white">
    <h1>Student Data</h1>
  </div><!--end-card-->

  <div class="fromBox py-5 ">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6 shadow p-5 rounded">
          <form (ngSubmit)="onSubmit(formData)" #formData="ngForm">
            <div class="form-row d-flex gap-3">
              <div class="form-group">
                <label for="name"> Name : </label>
                <input type="text" placeholder="Enter Name Here.." class="form-control" name="name" ngModel/>
              </div><!--form-group-->
              <div class="form-group">
                <label for="email">Email : </label>
                <input type="email" placeholder="Enter email Here.." class="form-control" name="email" ngModel/>
              </div><!--form-group-->
            </div><!--row-->
            <br>
            <div class="form-row d-flex gap-3">
              <div class="form-group">
                <label for="mobile"> Mobile : </label>
                <input type="number" placeholder="Enter mobile Here.." class="form-control" name="mobile" ngModel/>
              </div><!--form-group-->
              <div class="form-group">
                <label for="name">Date : </label>
                <input type="date" placeholder="Enter Name Here.." class="form-control" name="date" ngModel/>
              </div><!--form-group-->
            </div><!--row-->  
            <br>
            <div class="form-row d-flex gap-3">
              <div class="form-group">
                <button class="btn btn-success">Submit</button>
              </div><!--form-group-->
              <div class="form-group">
                <button class="btn btn-success">Save</button>
              </div><!--form-group-->
            </div><!--row-->
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="fromData">
    <div class="container">
      <table class="table">
        <thead class=" bg-success text-white">
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>Date</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Name</td>
            <td>Email</td>
            <td>Mobile</td>
            <td>Date</td>
            <td>Edit</td>
            <td>Delete</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
